click==8.4.1
colorama==0.4.6
jedi==0.19.2
Markdown==3.10.2
packaging==26.2
parso==0.8.7
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pywinpty==3.0.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.18.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
QScintilla==2.14.1
requests==2.34.2
typing_extensions==4.15.0
ujson==5.12.1
